In [1]:
from pandas import Series, DataFrame
from numpy import NaN

df1 = DataFrame({ "A": Series([100,101,NaN], index=[0,1,2]), "B": Series([98,97,96], index=[0,1,2])})
df1

       A   B
0  100.0  98
1  101.0  97
2    NaN  96

In [3]:
df2 = DataFrame({ "A": Series([102,103,104], index=[2,2.5,4]), "B": Series([1000,95,94], index=[2,3,4])})
df2

         A       B
2.0  102.0  1000.0
2.5  103.0     NaN
3.0    NaN    95.0
4.0  104.0    94.0

In [4]:
df3 = df1.combine_first(df2)
df3

         A     B
0.0  100.0  98.0
1.0  101.0  97.0
2.0  102.0  96.0
2.5  103.0   NaN
3.0    NaN  95.0
4.0  104.0  94.0