In [9]:
from pandas import Series, DataFrame
from numpy import NaN

df1 = DataFrame({ "A": Series([100,101,NaN], index=[0,1,2]), "B": Series([98,97,96], index=[0,1,2])})
df1

       A   B
0  100.0  98
1  101.0  97
2    NaN  96

In [7]:
df2 = DataFrame({ "A": Series([102,103,104], index=[2,2.5,4]), "B": Series([1000,95,94], index=[2,3,4])})
df2

     A     B
2  102  1000
3  103    95
4  104    94

In [10]:
df3 = df1.combine_first(df2)
df3

       A   B
0  100.0  98
1  101.0  97
2  102.0  96
3  103.0  95
4  104.0  94